.all{
    background-color: rgba(0,0,0,0.2);
    background-image:none;
    height:100%;
}

.piechart-ctn{
    border:3px solid white;
    /* position: absolute;
    top: 150px;
    right: 50px; */
    border-radius: 11px;
    margin-top: 47px;
    float: right;
    margin-right: 115px;
}

#story-heading{
    font-weight:200;
}

.empty{
    left:100px;
    height:400px;
    width:700px;
    background-image:url(../resources/reports.png);
    background-color:white;
}

.story-index-heading{
    padding-top: 60px;
    padding-left: 50px;
    font-size: 18px;
    font-weight:100;
}

.btn-addmore{
    padding: 10px;
    position: absolute;
    font-size: 23px;
    right: 50px;
    background-color: #157347;
    border-color: #146c43;
    border-radius: 3px;
    color: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.table-container{
    padding-top:70px;
    padding-left:50px;
    padding-bottom:60px;
    width:55%;
    border-spacing:0px;
    /* margin-top: 506px;
    margin-left: 50px;
    margin-bottom: 60px;
    width: 55%;
    border-spacing: 0px;
    border: 2px solid white;
    border-radius: 10px;
    border-top-color: darkslateblue; */
} 

th{
    background: darkslateblue;
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    padding: 22px 123px;
    white-space: nowrap;
    column-gap:0px;
    row-gap:0px;
}

td{
    text-align:center;
    vertical-align: middle;
    background-color:white;
    text-decoration: none;
    line-height:4;
    color:gray;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.colsm{
    padding:22px 40px;
}

.story-title{
    color:gray;
    text-decoration: none;
}

.btn-edit{
    color:gray;
    cursor:pointer;
}

.btn-edit:hover{
    color:darkslateblue;
}

.bottom-left{
    border:0px 0px 10px 0px;
}

.bottom-right{
    border:0px 0px 0px 10px;
}

.sm{
    padding:22px 104px;
}

.lm{
    padding:22px 123px;
}

.colsm-opennav{
    padding:22px 20px;
}

.colsm-closenav{
    padding:22px 40px;
}

.dark-mode{
    background-color: #202028;
    color: #cdced3;
}