.all{
    background-color: rgba(0,0,0,0.2);
    background-image:none;
    height:100%;
}

.piechart-ctn{
    border:3px solid white;
    border-radius: 11px;
    margin-top: 47px;
    float: right;
    margin-right: 115px;
}

#story-heading{
    font-weight:200;
}

.empty{
    left:100px;
    height:400px;
    width:685px;
    background-image:url(../resources/reports.png);
    background-color:white;
}

.story-index-heading{
    padding-top: 60px;
    padding-left: 58px;
    font-size: 18px;
    font-weight:100;
}

.btn-addmore{
    padding: 10px;
    position: absolute;
    font-size: 23px;
    right: 50px;
    background-color: #157347;
    border-color: #146c43;
    border-radius: 3px;
    color: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.table-container{
    padding-top:35px;
    padding-left:50px;
    padding-bottom:60px;
    width:55%;
    border-spacing:0px;
} 

th{
    background: darkslateblue;
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    padding: 22px 123px;
    white-space: nowrap;
    column-gap:0px;
    row-gap:0px;
}

td{
    text-align:center;
    vertical-align: middle;
    background-color:white;
    text-decoration: none;
    line-height:4;
    color:gray;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.colsm{
    padding:22px 40px;
}

.story-title{
    color:gray;
    text-decoration: none;
}

.btn-edit{
    color:gray;
    cursor:pointer;
}

.btn-edit:hover{
    color:darkslateblue;
}

.bottom-left{
    border:0px 0px 10px 0px;
}

.bottom-right{
    border:0px 0px 0px 10px;
}

.sm{
    padding:22px 104px;
}

.colsm-opennav{
    padding:22px 23px;
}

.dark-mode{
    background-color: #202028;
    color: #cdced3;
}

.table-row{
  display:none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 22px 54px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: darkslateblue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover,button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Cards-heading{
  margin: 32% 0% 0% 3%;
  display: flex;
}

#Cards-heading{
  margin:10px;
  font-weight: 200;
}

.card-selector{
    border-radius: 3px;
    width: 176px;
    background-color:rgba(0,0,0,0.2);
    padding: 13px;
    padding-left: 77px;
    font-size: x-large;
    cursor: pointer;
    position: absolute;
    right: 40px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.cards-selector-btn{
  font-size: 20px;
  background-color:rgba(0,0,0,-0.8);
  border: none;
  color:white;
  cursor: pointer;
}

.card-selector-content{
  width: 266px;
  margin-top:11px;
  right:0px;
}

.selector-opt{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 17px;
}

.card-selector:hover {
  background-color: darkslateblue;
}

.card-selector:hover .dropbtn {
  background-color: darkslateblue;
}

.show{
  display:table-row;
}

.card-selector:hover .dropdown-content{
  display:block;
}

.selector-opt.active{
  background-color: darkslateblue;
  color: white;
}

.dropbtn-style{
  margin-left:40px;
}

.dark-filter{
  background-color: #202028;
  color: #cdced3;
}

.dark-filter:hover{
  background-color: purple;
  color: white;
}

