doctype html
html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    style 
        include ../../../../public/story-css/story-create.css
    link(rel='icon' href='../../resources/Logo.png' type='image/x-icon')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    title Story Editor
    body#body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-website
            .container-fluid
                a.navbar-brand(href='/')
                    img.rounded(src="../../resources/Logo.png" alt="animezone" width="40" height="24")
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.text-light(aria-current='page' href='/dashboard') Home
                        li.nav-item
                            a.nav-link.text-light(href='/dashboard/your-stories') My Stories
                    .nav-item.dropdown.dropdown-change
                        a#navbarDropdown.dropdown-toggle.text-light.nav-link(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false' style="padding-left:0px") Hello, #{username}
                        ul#dropmenu.dropdown-menu(aria-labelledby='navbarDropdown')
                            li
                                a.dropdown-item(href='#') Account
                            li
                                a.dropdown-item(href='#') Notifications
                            li
                                a.dropdown-item(href='#') Edit Profile
                            li
                                a.dropdown-item(href='#') My team
                            li
                                a.dropdown-item(href='#')   Dark Mode
                                    label.switch
                                        <input type="checkbox">
                                        span.slider.round(onclick="darkmode()")
                            li
                                hr.dropdown-divider
                            li
                                a.dropdown-item(href='/auth/logout') Logout

        .main-area.w-75.p-3.mt-5.mx-auto.mb-5
            h3 Write, Share & Publish
            h6 Write and share your work in real time. Our online editor supports every English, French, German, Korean, and other languages. Connect with your team using Chatter.

            form(action='/dashboard/your-stories/create-new' method='POST')
                div(style="height:20px")
                .input-group.mb-3
                    input.form-control(type='text' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1' value=username required='')
                    div(style="width: 40px")
                    input.form-control(type='text' placeholder='Title' aria-label='Username' aria-describedby='basic-addon1' name="title" required='')
                .input-group.mb-3
                    select#inputGroupSelect02.form-select(name="genre")
                        option(value='popular' selected='') Popular
                        option(value='seinen') Seinen
                        option(value='adventure') Adventure
                        option(value='mature') Mature
                        option(value='isekai') Isekai
                    label.input-group-text(for='inputGroupSelect02') Genre
                .input-group.mb-3
                    select#inputGroupSelect02.form-select(name="status")
                        option(value='private' selected='') Private
                        option(value='published') Publish
                    label.input-group-text(for='inputGroupSelect02') Status

                textarea(id="ckeditor" name='body')

                div(style="height:15px")
                .d-grid.gap-2.d-md-flex.justify-content-md-end
                    button.btn.btn-primary.btn-success.me-md-2.box-shadow(type='submit') Save
                    a.btn.btn-primary.btn-danger.box-shadow(href='/dashboard/your-stories' role='button') Cancel

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.17.1/ckeditor.js" integrity="sha512-VXEKi5eNc7ECuyIueuledlqeUWiJ7hcxBe9fnsCiVzeZ0XwJxAPemnq01/LBIBnp3i0szhvKNd9Us7fqNPsRmQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script 
        include ../../../../public/javascript/story-create.js