extends ../../sidenav.pug
block styles 
    include ../../../../public/story-css/no-story-index.css
    include ../../../../public/story-css/story-index.css
block content 
    if story
        .all
            .story-index-heading
                h1#story-heading Overview 
                    a(href="/dashboard/your-stories/create-new" class="btn-addmore hover")
                        i(class="fas fa-plus") &#160;&#160;&#160;Add Story
            .piechart-ctn
                div#piechart
            .piechart-ctn.empty#piechart-empty
            table.table-container
               thead
                   tr 
                       th(style="border-radius:10px 0px 0px 0px") Title
                       th Date
                       th Status
                       th Genre
                       th.colsm Edit
                       th(style="border-radius:0px 10px 0px 0px").colsm Delete
               tbody 
                   each val in story
                       tr
                           td#bottom-left
                               a.btn-edit.story-title(href = "/dashboard/your-stories/show-story/" + val._id) #{val.title}
                           td #{moment(val.createdAt).format('DD-MM-YYYY hh:mm a',)}
                           td
                               span.dash-status #{val.status}
                           td #{val.genre}
                           td
                                a.btn-edit(href="/dashboard/your-stories/edit/" + val._id)
                                    i.fas.fa-edit
                           td#bottom-right
                                form(action = "/dashboard/your-stories/delete-story/" + val._id , method = "POST" id = "delete-form")
                                    input(type = "hidden" name = "_method" value = "DELETE")
                                    button(type = "submit")
                                        i.btn-edit.fas.fa-trash(style="border:none")
    else
        .all
            .container
                h1 It seems you haven't created any stories
                h3.sub-heading Create One
                    a(href="/dashboard/your-stories/create-new" class="btn-add-link")
                        i(class="fas fa-plus btn-add hover" style= "color:white")
    
    