
::selection{
  background-color: darkslateblue;
  color: #FFF;
}

.navbar {
  overflow: hidden;
  /* background-color: rgb(124, 124, 124); */
  background-color: #808080;
  font-family: Arial;
  display: -webkit-box;
}

/* Links inside the navbar */
.navbar a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 22px 54px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: darkslateblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover,button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon{
    margin-top: 6px;
    margin-right: 10px;
}

.microphone{
    margin-right:241px;
}

#search{
    width: 557px;
    height: 61px;
    margin-left: 264px;
    margin-right: 10px;
}

.navbar-image{
    margin: 2px;
    margin-right: 10px;
    margin-top: 4px;
    height: 52px;
    width: 69px;
    border-radius: 8px;
}

.trending{
  background-image: url(../resources/trending.png);
  width:100%;
  height:500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.live-btn{
  padding: 8px 20px;
  margin: 7px 3px;
  border-radius:8px;
  background-color:chartreuse;
  color:black;
  cursor:pointer;
  text-decoration: none;
  font-size: 14px;
  position:absolute;
  top: 306px;
  left: 100px;
  border:none;
  transition: left .5s;
}

.live-btn:hover{
  background-color:chartreuse;
}

.live-btn-icon{
  margin-right:10px;
}

.trending-watch{
  padding: 15px 25px;
  margin: 7px 3px;
  border-radius:8px;
  background-color:darkslateblue;
  color:white;
  cursor:pointer;
  text-decoration: none;
  font-size: 25px;
  position: absolute;
  top: 426px;
  left: 100px;
  transition: left .5s;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.trending-watch:hover{
  color:gray;
}

.trending-heading{
  color:white;
  position: absolute;
  top: 356px;
  /* left: 144px; */
  left: 100px;
  transition: left .5s;
}

.trending-subheading{
  color: white;
  position: absolute;
  top: 396px;
  left: 100px;
  transition: left .5s;
}

.trending-options{
  position: absolute;
  top: 348px;
  right: 47px;
}

.carousel {
  width:500px;
}

.carousel-cell {
  width: 30%;
  height: 134px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.carousel-cell:before {
  display: block;
  line-height: 200px;
}

.flickity-page-dots{
  opacity:0;
}

.flickity-prev-next-button.previous {
  background-color: darkslateblue;
  color: white;
}

.flickity-prev-next-button.previous:hover{
  background-color:gray;
}

.flickity-prev-next-button.next{
  background-color: darkslateblue;
  color: white;
}

.flickity-prev-next-button.next:hover{
  background-color:gray;
}

/*Adding a conditional classname can be achieved by this:
      p#lblMessage(class=(status  ? 'text-success' : 'text-warning')) #{message} 
  CHECK BOOKMARK FOR MORE DETAIL FROM STACK OVERFLOW*/

.Cards-heading{
  margin: 5% 0% 5% 3%;
  display: flex;
}

.card-selector{
    border-radius: 3px;
    width: 176px;
    background-color:rgba(0,0,0,0.2);
    padding: 13px;
    /* margin-left: 903px; */
    padding-left: 77px;
    font-size: x-large;
    cursor: pointer;
    position: absolute;
    /* left: 994px; */
    right: 39px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.cards-selector-btn{
  font-size: 20px;
  background-color:rgba(0,0,0,-0.8);
  border: none;
  color:white;
  cursor: pointer;
}

.card-selector-content{
  width: 266px;
  margin-top:11px;
  right:0px;
}

.selector-opt{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 17px;
}

.card-selector:hover {
  background-color: darkslateblue;
}

.card-selector:hover .dropbtn {
  background-color: darkslateblue;
}

.card-selector:hover .dropdown-content{
  display:block;
}

.Cards{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  margin: 5% 3% 5% 3%;
}

.card{
  /* border:1px solid black; */
  height: 250px;
  border-radius: 12px;
  display:none;
}

.card-img{
  border-radius: 12px 12px 0px 0px;
  width: 306px;
  height: 150px;
}

.show{
  display:block;
}

.selector-opt.active{
  background-color: darkslateblue;
  color: white;
}

.dropbtn-style{
  margin-left:40px;
}

.card-text{
  margin-left:32px;
  margin-top:5px;
}

.bookmark{
  color:rgba(0,0,0,0.2);
}

.bookmark:hover{
  color:darkslateblue;
}

.card-read{
  margin-left: 81px;
  padding: 4px 12px 4px 12px;
  position:unset;
  background-color:rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card-read:hover{
  background-color:darkslateblue;
  color:white;
}

.card-watch{
  margin-left:5px;
}

.dark-mode{
  background-color: #202028;
  color: #cdced3;
}

.dark-bg{
  background-color:darkslateblue;
}

.dark-bg:hover{
  background-color:purple;
}

.dark-color{
  color:white;
}

.dark-color:hover{
  color:purple;
}

.dark-filter{
  background-color: #202028;
  color: #cdced3;
}

.dark-filter:hover{
  background-color: purple;
  color: white;
}

.flickity-viewport{
  height:236px;
}

.Author-box{
  width:100%;
  margin-bottom:5%;
}

.Author-ctn{
  margin-right:3%;
  margin-left:inherit;
}

.authors{
  width: 20%;
  padding-bottom:80px;
}

.author-icon{
  border: 2px solid gray;
  border-radius: 50%;
  width: 36%;
  height: 70%;
  margin-left:82px;
  margin-top:5px;
}

.authors:hover .author-icon{
  border:3px solid darkslateblue;
}

.animator-author{
  color:purple;
  background-color:white;
  border-radius: 50%;
  position:absolute;
  left:148px;
}

.dark-author-hover:hover .author-icon{
  border:3px solid purple;
}

.api_image{
  width: 31px;
  height: 31px;
  border-radius: 50%;
  margin-top: 10px;
}