doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Recovery
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link.logo(rel='icon' href='../resources/Logo.png' type='image/x-icon')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css')
  style.
    *{
    background-color: black;
    }
    h1{
    display: grid;
    border:solid 3px darkslateblue;
    margin: 15% 37% 10% 37%;
    color:white;
    }
    i{
    margin-left:30%;
    margin-top:5%;
    }
h1
  | Sorry, It seems like an APOCALYPTIC CLASS event, we don&apos;t have any S-Rank developers so ------
  i.far.fa-smile-wink.fa-5x
  br
  |       GOOD LUCK!
