extends sidenav.pug
block styles
    include ../../public/Home/home.css
block content
    .navbar
        .dropdown
            button.dropbtn Friends
            .dropdown-content
              a(href='#') UserProfile 1
              a(href='#') UserProfile 2
              a(href='#') UserProfile 3
              a(href='#') UserProfile 4
              a(href='#') UserProfile 5
        script(async='' src='https://cse.google.com/cse.js?cx=5845f3d513dd296df')
        #search.gcse-search
        .icon.microphone
            a(href="#")
                <i class="fas fa-microphone"></i>
        .icon
            a(href="#")
                <i class="far fa-bell"></i>
        .icon
            a(href="#")
                <i class="fas fa-user"></i>
        img.navbar-image(src='../resources/Logo.png' alt='logo')
    .trending
        button#live-btn.live-btn
            <i class="fas fa-wifi live-btn-icon"></i> Live
        h1#trending-heading.trending-heading Solo Leveling - Anime Released
        h4#trending-subheading.trending-subheading Mangasee123/Gogoanime - English | Japanese | Korean
        a#trending-watch.trending-watch(href="#") Watch
        .trending-options
            .carousel(data-flickity='{ "autoPlay": true }')
                .carousel-cell
                  img(src='../resources/trending (4).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (1).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (2).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (5).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (6).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (7).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (8).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (5).jpg' height='100%' width='100%')

    .Cards
      .card
        h1 Ongoing Series
      .card
        h1 Ongoing Series
      .card
        h1 Ongoing Series
      .card
        h1 Ongoing Series
      .card
        h1 Ongoing Series
      .card
        h1 Ongoing Series
    