extends sidenav.pug
block styles
    include ../../public/Home/home.css
block content
    .navbar
        .dropdown
            button.dropbtn Friends
            .dropdown-content
              a(href='#') UserProfile 1
              a(href='#') UserProfile 2
              a(href='#') UserProfile 3
              a(href='#') UserProfile 4
              a(href='#') UserProfile 5
        script(async='' src='https://cse.google.com/cse.js?cx=5845f3d513dd296df')
        #search.gcse-search
        .icon.microphone
            a(href="#")
                <i class="fas fa-microphone"></i>
        .icon
            a(href="#")
                <i class="far fa-bell"></i>
        .icon
            a(href="#")
                <i class="fas fa-user"></i>
        img.navbar-image(src='../resources/Logo.png' alt='logo')
    .trending
        button#live-btn.live-btn
            <i class="fas fa-wifi live-btn-icon"></i> Live
        h1#trending-heading.trending-heading Solo Leveling - Anime Released
        h4#trending-subheading.trending-subheading Mangasee123/Gogoanime - English | Japanese | Korean
        a#trending-watch.trending-watch(href="#") Watch
        .trending-options
            .carousel(data-flickity='{ "autoPlay": true }')
                .carousel-cell
                  img(src='../resources/trending (4).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (1).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (2).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (5).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (6).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (7).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (8).jpg' height='100%' width='100%')
                .carousel-cell
                  img(src='../resources/trending (5).jpg' height='100%' width='100%')

    .Cards-heading#heading-ctn
      h1#Cards-heading Popular
      .card-selector
        button.dropbtn.cards-selector-btn#rename-filter Popular
        .dropdown-content.card-selector-content#BtnContainer
          button.selector-opt.active(onclick="filterSelection('Popular')") Popular
          button.selector-opt(onclick="filterSelection('Ongoing')") Ongoing
          button.selector-opt(onclick="filterSelection('Complete')") Complete
          button.selector-opt(onclick="filterSelection('New')") New
          button.selector-opt(onclick="filterSelection('OnBreak')") OnBreak

    .Cards#cards
      .card.filterDiv.New
        img.card-img(src='../resources/trending (5).jpg')
        h3 Tensei Shittara Datta Slime
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Isekai &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;
          a.live-btn.card-read(href="#") Read
          a.live-btn.card-read.card-watch(href="#") Watch

      .card.filterDiv.New 
        img.card-img(src='../resources/trending (7).jpg')
        h3 Tensei Shittara Datta Slime
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Isekai &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;

      .card.filterDiv.OnBreak
        img.card-img(src='../resources/trending (2).jpg')  
        h3 One Punch Man
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Overpowered  &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;
        
      .card.filterDiv.New
        img.card-img(src='../resources/trending (5).jpg')       
        h3 Kengan Omega
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Martial Arts
        p.card-text 4.5 &#9733;

      .card.filterDiv.New
        img.card-img(src='../resources/trending (1).jpg')
        h3 Solo Leveling
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Isekai &#160; &#8226;Adventure
        p.card-text 4.9 &#9733;
        
      .card.filterDiv.Complete 
        img.card-img(src='../resources/trending (6).jpg')
        h3 Hunter Hunter
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;

        
      .card.filterDiv.Complete 
        img.card-img(src='../resources/trending (7).jpg')
        h3 Second Life Ranker
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Seinen &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;


      .card.filterDiv.Complete 
        img.card-img(src='../resources/trending (6).jpg')
        h3 Kengan Omega
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Shounen &#160; &#8226;Martial Arts
        p.card-text 4.5 &#9733;

        
      .card.filterDiv.OnBreak
        img.card-img(src='../resources/trending (8).jpg')
        h3 Solo Leveling
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Isekai &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;

        
      .card.filterDiv.Ongoing
        img.card-img(src='../resources/trending (1).jpg')
        h3 Solo Leveling
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Isekai &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;


      .card.filterDiv.Ongoing
        img.card-img(src='../resources/trending (2).jpg')  
        h3 Solo Leveling
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Isekai &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;
        
      .card.filterDiv.OnBreak
        img.card-img(src='../resources/trending (6).jpg')
        h3 Solo Leveling
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Isekai &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;


      .card.filterDiv.OnBreak
        img.card-img(src='../resources/trending (7).jpg')
        h3 Solo Leveling
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Isekai &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;


      .card.filterDiv.Ongoing
        img.card-img(src='../resources/trending (1).jpg')
        h3 Naruto
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Ninja &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;

        
      .card.filterDiv.Ongoing
        img.card-img(src='../resources/trending (8).jpg')
        h3 Solo Leveling
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Isekai &#160; &#8226;Adventure
        p.card-text 4.5 &#9733;

        
      .card.filterDiv.Complete
        img.card-img(src='../resources/trending (2).jpg')  
        h3 Death Note
          a(href="#")
            <i class="fas fa-bookmark bookmark" style="margin-left: 10px"></i>
        p.card-text  &#8226;Action  &#160; &#8226;Pschological &#160; &#8226;Dark
        p.card-text 4.5 &#9733;
        
    