extends sidenav.pug
block styles
    include ../../public/Home/home.css
block content
    .navbar
        .dropdown
            button.dropbtn Friends
            .dropdown-content
              a(href='#') UserProfile 1
              a(href='#') UserProfile 2
              a(href='#') UserProfile 3
              a(href='#') UserProfile 4
              a(href='#') UserProfile 5
        script(async='' src='https://cse.google.com/cse.js?cx=5845f3d513dd296df')
        #search.gcse-search
        .icon.microphone
            a(href="#")
                <i class="fas fa-microphone"></i>
        .icon
            a(href="#")
                <i class="far fa-bell"></i>
        .icon
            a(href="#")
                <i class="fas fa-user"></i>
        img.navbar-image(src='../resources/Logo.png' alt='logo')
    p This is the random text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat recusandae quia, praesentium modi nulla perferendis porro enim ipsa sapiente rem, cupiditate numquam id maxime rerum impedit accusantium dignissimos possimus repellendus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure quam numquam, illo laboriosam amet repellendus dolorum fuga labore reprehenderit, temporibus excepturi quidem adipisci beatae accusamus? Commodi accusantium quibusdam eaque non?
