doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Page Not found
  style.
    *{
      background:url('../resources/404.jpg');
      background-size:cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    h1{
      position: absolute;
      top: 34%;
      left: 66%;
      font-size:8vh;
      text-align: center;
    }
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link.logo(rel='icon' href='../resources/Logo.png' type='image/x-icon')
  h1 404 Page Not Found