/* darkslateblue 72, 61, 139 */
*{
    margin:0px;
    padding:0px;
    border:none;
}

html{
    background-image:url(../../resources/loginbg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.container{
    background-color:rgba(0,0,0,0.7); 
    padding: 2%;
    border-radius: 6px;
    width:33%;
    height:fit-content;
    box-shadow: 0 0 28px rgb(0, 0, 0);
    position: absolute;
    top: 8%;
    right: 37%;
    bottom: 3%;
    left: 31%;
}

img{
    border-radius:10px;
}

.footer{
    color:white;
}

.icon{
    background-repeat:no-repeat;
    background-position-y: 15px;
    background-position-x: 10px;
}

.text{

    margin-top:10px;
    color:white;
    text-align: center;
}

.brands{
    justify-content:center;
}

span{
    background-color: white;
    border-radius: 50%;
    padding-top: 26px;
    margin-left:23%;
}

.adjust{
    margin-left:14%;
}

.facebook{
    color:#3b5998;
    background-color:transparent;
    margin-left:-1px;
    margin-right:-1px;
}

.brand-hover:hover{
    cursor:pointer;
}

.googleplus{
    background-color:transparent;
    color: #db4a39;
}


.discord-span{
    border-radius:0%;
}

.discord{
    background-color:transparent;
    color: #5865F2;
}

*{
    margin:0px;
    padding:0px;
    border:none;
}